body {
    padding-top: 0px;
    padding-bottom: 20px;
    <span id="IL_AD10" class="IL_AD">margin</span>: 0;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



#qr-content {
    width: 26em;
    float: left;
    padding: 2em;
    margin-left: 33%;
}

}

.txt-content {
    width: 20em;
    font-size: 16px;
    float: right;
    padding-left: 2em;
    margin: 2em;
}

}

#logo-content {
    margin: 0 auto;
    width: 2em;
    float: none;
    padding-top: 1em;
}

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.imgLogoMobile {
    display: block !important;
}

.imgLogoPc {
    display: none !important;
}

@media (min-width: 833px) {
    .navbar-nav > li > a {
        /*margin-top: 130px;*/
    }

    .imgLogoMobile {
        display: none !important;
    }

    .imgLogoPc {
        display: block !important;
    }
}




* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5cm;
    margin: 1cm auto;
    border: 1px #000 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}


#cupon {
    width: 44em;
    height: 38em;
    float: inherit;
    border: 1px solid black;
    margin-bottom: 40px;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}



.subpage {
    padding: 1cm;
    border: 5px black solid;
    height: 237mm;
    outline: 2cm #000 solid;
}

@page {
    size: A4;
    margin: 0;
    margin-top: 10mm;
}

@media print {

    .hidden-print {
        display: none !important;
    }

    html, body {
        border: 1px solid white;
        height: auto;
        page-break-after: avoid !important;
        page-break-before: avoid !important;
    }

    body {
        margin: 0px 0px 0px 0px;
    }

    div {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .print {
        margin-bottom: 0px;
        font-size: 16px;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        page-break-before: avoid;
    }
}

.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
