/*@font-face {
    font-family: myFirstFont;
    src: url(segoeui.ttf);
}*/


/*
@font-face {
    font-family: 'myFirstFont';
    src: url('segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/*
@font-face {
    font-family: 'myFirstFont';
    src: url('segoeuii.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'myFirstFont';
    src: url('segoeuib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'myFirstFont';
    src: url('segoeui.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'myFirstFontLight';
    src: url('segoeuil.ttf') format('truetype');
    font-weight: lighter;
}*/
/*
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('segoeui.ttf') format('truetype');
}*/

@font-face {
    font-family: 'myFirstFontLight';
    src: url('segoeuil.ttf') format('truetype');
}


body, h2, h3, h4, h5, h6,  .h2, .h3, .h4, .h5, .h6, p {
    font-family: 'Segoe UI';
    /*font-family: 'Segoe UI';*/
    /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
    /*font-family: Frutiger, "Frutiger Linotype", 'Myriad Pro', Myriad, 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;*/
}

h1, .h1 {
    font-family: 'myFirstFontLight';
}


.navbar-nav>li>a{
	text-decoration: none;
	border-top-style: solid;
    padding: 8px 5px 5px 5px;
	margin-top: 70px;
}

.imgLogoMobile {
    display: block !important;
}
.imgLogoPc {
    display: none !important;
}

@media (min-width: 833px) {
    .navbar-nav > li > a {
        margin-top: 130px;
    }
    .imgLogoMobile {
        display: none !important;
    }
    .imgLogoPc {
        display: block !important;
    }
}


h1, h2{
	font-weight: 200;
    font-size: 28px;
    margin-left: 35px;
    margin-top: 20px;
    color: #004631;
    padding: 0;
    margin-bottom: 0px;
}

h2{
	font-weight: 400;
    font-style: italic;
    font-size: 18px;
    margin-left: 35px;
    color: #666;
    margin-top: 5px;
}

h4{
	font-weight: 400;
    font-size: 11px;
    color: #666;
    margin-top: 0px;
    margin-left: 22px;
    float: left;
}

h5 {
    font-weight: 400;
    font-size: 35px;
    margin-left: 55px;
    padding-top: 50px;
    color: #004631;
    margin-top: 0px;
    margin-bottom: 0px;
}

h6 {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    margin-left: 55px;
    margin-top: 4px;
    color: #666;
    float: left;
}

.lidos{
    list-style: none;
    font-size: 11px;
    color: #666;
    margin-left: 5px;
    padding-top: 17px;
    margin-top: 20px;
}

#lineasterapeuticas {
    width: 240px;
    height: 220px;
    float: right;
    background-color: #FFF;
    margin-top: 15px;
    margin-right: 10px;
}

table, tbody, tfoot, thead, th{
	border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0 0 0 0px;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

tr, td{
	border-color: transparent;
    border-style: none;
	border-top : transparent !important;
}

.lidosGrilla {
    font-size: 11px;
    color: #666;
    /*margin-left: 5px;*/
    font-weight: bold;
}


@media screen and (max-width: 767px){
	.table-responsive {
		 border: transparent;
	}
}


#myCarousel2 .carousel-indicators {
  bottom:-50px;
  /*background-color: green;
  border: 1px solid black;*/
}

.carousel-indicators li{
  /*background-color: green;*/
  border: 1px solid #9d9d9d;
}

.carousel-indicators .active {
    background-color: #9d9d9d;
}

#myCarousel img{
	width : 100%;
}

.farmaco {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
    margin: 15px 0px 10px 40px;
    text-align: justify;
    line-height: 1.1em;
}

.direccion {
    line-height: 15px;
}

@media (min-width: 768px) and (max-width: 860px){
	.navbar-nav>li>a {
		/*margin-top: 0px;*/
	}
}

/* FARMACOVIGILANCIA Y EXPORTACIONES EN LA PANTALLA DE INICIO SE INVIERTEN CUANDO NO ENTRAN HORIZONTALMENTE*/
.expoFarmacoInverted {
    display: none;
}
.expoFarmaco {
    display: block;
}

#productos2_1 {
    display: block;
}
#productos2_2 {
    display: none;
}
#legales2 {
    display: none;
}

@media (max-width: 767px) {
    #productos2_1 {
        display: none;
    }
    #productos2_2 {
        display: block;
    }
    #legales2 {
        display: block;
    }
}

#recaptchaMasGlobalDiv {
    margin-left: 45px;
}

@media (max-width: 500px) {
    .td_imagen_producto {
        display: none;
    }
    #recaptchaMasGlobalDiv {
        margin-left: 0px;
    }
}

@media (min-width: 767px) {
    #productos2, #productos2_1, #productos2_2 {
        padding-left: 0px !important;
    }
}


@media (max-width: 767px){
    .navbar-nav {
        margin-bottom: 0px;
        margin-top: 0px;
    }
	.navbar-nav>li>a {
		margin-top: 0px;
		border-top-style: none;
		padding-left: 25px;
		color: #004631 !important;
	}
    .navbar-nav > li {
        border-bottom: 1px solid;
    }
    .navbar-nav > li:last-child {
        border-bottom: transparent;
    }
	.separador{
		display:none;
	}
	.navbar-collapse {
		/*background-color: white;*/
        background-color: #E3E3E3;
	}
    .expoFarmaco {
        display: none;
    }
    .expoFarmacoInverted {
        display: block;
    }
}

.grdLineas td {
    height: 20px; 
    padding: 0px !important;
}

.grdLineas tr:first-child {
    display: none;
}

#cabeceracompa {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/empresa.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabeceraproductos {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/productos_maquina.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabeceralineas {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/lineas.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabeceralanzamientos {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/medico_lanzamietnos.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabeceratrabajar {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/trabajar.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabeceracontacto {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/contacto.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#cabecerafarmacovigilancia {
    min-height: 150px;
    padding: 0;
    background-color: #FFFFFF;
    margin-top: 0;
    background-image: url(../img/farmacovigilancia.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #FFFFFF;
    border-bottom-color: #004631;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

@media (max-width: 360px) {
    #cabeceracompa {
        background-image: none;
    }
    #cabeceralanzamientos {
        background-image: none;
    }
}

@media (max-width: 290px) {
    #cabeceraproductos {
        background-image: none;
    }
}

@media (max-width: 480px) {
    #cabeceratrabajar {
        background-image: none;
    }
}

@media (max-width: 310px) {
    #cabeceracontacto {
        background-image: none;
    }
}

@media (max-width: 395px) {
    #cabeceralineas {
        background-image: none;
    }
}

@media (max-width: 450px) {
    #cabecerafarmacovigilancia {
        background-image: none;
    }
}

.hr2 {
    color: #004631;
    padding: 0;
    margin: 0;
    clear: both;
}

p {
    font-size: 14px;
    color: #666;
    margin: 40px;
    text-align: justify;
/*    line-height: 1.1em;*/
}

.h3busquedas {
    color: #666666;
    font-size: 11px;
}

.h4dos {
    font-size: 10px;
    color: #999;
    margin-left: 0px;
    float: left;
}


.etiquetasFichasPA {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.etiquetasFichasprod {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.TEXTS{
    width: 33%;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 7px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.PRES {
    width: 33%;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 7px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}

.td_imagen_producto {
    width: 33%;
    text-align: center;
    vertical-align: middle; 
}

.etiquetaLineas {
    height: 20px;
    width: 200px;
    color: Gray;
    font-weight: bold;
    vertical-align: top;
    margin-left: 20px;
}

.cuadradito {
    width: 18px;
    height: 18px;
    float: left;
}

.aviso {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 40px;
    line-height: 20px;
}

.estiloh1 {
    font-size: 22px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 0px;
}

.estiloh2 {
    font-size: 14px;
    font-style: italic;
    margin-top: 6px;
}

.estiloh1dos {
    font-size: 22px;
    font-style: italic;
    margin-top: 6px;
}


#fichas {
    float: left;
    max-height: 600px;
    background-color: #D2E7F2;
    margin-top: 20px;
    clear: both;
    margin-left: 25px;
    overflow: scroll;
    overflow-x: hidden;
}

.productosTrabajar {
    display: block;
}

@media (max-width: 767px) {
    #fichas {
        margin-left: 0px;
    }
    #desarrollo {
        margin-left: 40px;
    }
    .productosTrabajar {
        display: none;
    }
}

.li {
    font-size: 13px;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:link {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #FFF;
}

.contenido_home {
    background-color: white; 
    margin-left: 0px; 
    margin-right: 0px;
}

#productos2 {
    border-left-color: #EAEAEA;
    border-left-style: solid;
    border-left-width: thick;
    /*min-height: 765px;*/
}

#productos2_1, #productos2_2 {
    border-right-color: #EAEAEA;
    border-right-style: solid;
    border-right-width: thick;
    min-height: 765px;
}

@media (min-width: 768px) {
    .lanzamientosHome {
        border-left-color: #EAEAEA;
        border-left-style: solid;
        border-left-width: thick;
        border-right-color: #EAEAEA;
        border-right-style: solid;
        border-right-width: thick;
    }
}


@media (max-width: 767px) {
    #productos2 {
        min-height: inherit;
        border-left-style: none;
    }

    #productos2_1, #productos2_2 {
        min-height: inherit;
        border-right-style: none;
    }

    .contenido_home {
        padding-bottom: 50px;
    }
}

@media (max-width: 640px) {
    .productosBusquedaProductos {
        display: none;
    }
}



.pnlColor {
    margin-top: 2px;
    float: left;
    margin-left: 15px; 
}

.coloresLineas {
    margin-right: 15px;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.nivo-controlNav {
    display: none;
}

.table {
    width: auto;
}


a:visited {
    text-decoration: none;
    color: #999;
}
a:link {
    text-decoration: none;
    color: #999;
}

#buscprincipioactivo select {
    max-width: 200px;
}

#buscmarca select {
    max-width: 200px;
}

.expoFarmacoInverted select {
    max-width: 250px;
}

