@inject UserWrapper UserWrapper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Employees</title>

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">



    @*<link href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />*@    
    @*<link href="~/lib/bootstrap-toggle-master/css/bootstrap-toggle.css" rel="stylesheet" />*@
    <environment include="Development,Staging,Test,Desa">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development,Staging,Test,Desa">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <div class="content-wrapper">

        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">


                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/lib/popper.js/popper.min.js"></script>*@
    @*<script src="~/lib/bootstrap-confirmation2/bootstrap-confirmation.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/app/datatables.config.js"></script>
    @*<script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect-collapsible-groups.js"></script>*@
    @*<script src="~/lib/jquery.easing/jquery.easing.1.3.min.js"></script>*@


    <environment include="Development,Test,Staging,Desa">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development,Staging,Test, Desa">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>
